/* -------- BREADCRUMBS -------- */
.breadcrumbs {

    margin-top: 24px;
    width: 100%;
    max-width: 100vw;
    overflow: scroll;
    display: flex;
    align-items: center;
    gap: 4px;

    & > * {
        flex-shrink: 0;
        white-space: nowrap;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    &_hero {
        margin-top: 0;
        margin-bottom: 16px;

        @media screen and (max-width: $breakpoint1366) {
            margin-top: 16px;
            margin-bottom: -36px;
        }
    }

    &_opened {
        .breadcrumbs__item {
            &:not(.breadcrumbs__dots, :first-of-type, :last-of-type) {
                display: block;
            }
        }
        .breadcrumbs__arrow {
            &:not(:first-of-type, :last-of-type) {
                display: block;
            }
        }
        .breadcrumbs__dots {
            display: none;
        }
    }


    // .breadcrumbs__item
    &__item {
        @extend .caption-regular;
        color: rgba(0, 0, 0, .5);
        transition: all 120ms ease-out;

        &:hover {
            color: rgba(0, 0, 0, 1);
        }

        @media screen and (max-width: $breakpoint576) {
            &:not(.breadcrumbs__dots, :first-of-type, :last-of-type) {
                display: none;
            }
        }
    }

    // .breadcrumbs__arrow
    &__arrow {
        img {
            display: block;
        }

        @media screen and (max-width: $breakpoint576) {
            &:not(:first-of-type, :last-of-type) {
                display: none;
            }
        }
    }

    // .breadcrumbs__dots
    &__dots {
        display: none;
        @media screen and (max-width: $breakpoint576) {
            display: block;
        }
    }
}

