// Buttons
.btn {
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 20px;
    transition: all 60ms ease-out;

    &:not(.btn_big, .btn_medium, .btn_small) {
        @media (max-width: $breakpoint768) {
            font-size: 14px;
        }
    }

    &_red {
        background-color: $redDefault;
        color: $surfacePrimary;

        @media (hover: hover) {
            &:hover {
                background-color: #BA2532;
            }
        }

        &:active {
            background-color: #981B25;
        }
    }

    &_black {
        background-color: $grey;
        color: $surfacePrimary;

        @media (hover: hover) {
            &:hover {
                background-color: #101010;
            }
        }

        &:active {
            background-color: #000000;
        }
    }

    &_outline {
        outline: 1px solid rgba(29, 36, 51, 0.2);
        color: $contentPrimary;

        @media (hover: hover) {
            &:hover {
                background-color: rgba(29, 36, 51, 0.2);
            }
        }
    }

    &_small {
        padding: 8px 16px;
    }

    &_medium {
        padding: 12px 20px;
    }

    &_big {
        padding: 14px 24px;
    }
}
