.buying-section {
    padding-top: 40px;
    padding-bottom: 52px;
    background: linear-gradient(0deg, #F1F3F9, #F1F3F9), linear-gradient(0deg, #CEDBEA, #CEDBEA), #E1E6EF;
    border-top: 1px solid $borderBase;

    @media screen and (max-width: $breakpoint768) {
        padding-top: 32px;
        padding-bottom: 40px;
    }

    .section__content {
        margin-top: 24px;
    }
}