/* -------- CALCULATOR -------- */
.calculator {

    padding-top: 40px;
    padding-bottom: 40px;

    @media screen and (max-width: $breakpoint576) {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    &_tabs {
        display: flex;
        justify-content: center;
        gap: 24px;

        @media screen and (max-width: $breakpoint1200) {
            flex-direction: column;
        }

        .calculator__container {
            flex-grow: 1;
            max-width: 1100px;
            &:not(.calculator__container_active) {
                display: none;
            }
        }
    }

    // .calculator__types
    &__types {
        display: flex;
        flex-direction: column;
        flex: 0 0 318px;

        @media screen and (max-width: $breakpoint1200) {
            flex: unset;
        }
    }

    // .calculator__type
    &__type {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 8px 12px;
        border-radius: 8px;
        transition: $quickTransition;
        cursor: pointer;

        &_active,
        &:hover {
            background-color: $borderBase;
        }

        &_disabled {
            pointer-events: none;
            opacity: .4;
        }
    }

    // .calculator__container
    &__container {
        border-radius: 16px;
        border: 1px solid $borderBase;
        background-color: $surfacePrimary;
        padding: 16px;
        display: flex;
        align-items: flex-start;
        gap: 16px;

        @media screen and (max-width: $breakpoint768) {
            padding: 20px;
            flex-direction: column;
            align-items: unset;
        }
    }

    // .calculator__form
    &__form {
        flex-grow: 1;
        padding: 12px 16px;

        @media screen and (max-width: $breakpoint768) {
            padding: 0;
        }
    }

    // .calculator__title
    &__title {
        color: #1A1A1A;

        @media screen and (max-width: $breakpoint768) {
            font-size: 18px;
        }
    }

    // .calculator__inputs
    &__inputs {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        gap: 12px;

        @media screen and (max-width: $breakpoint576) {
            gap: 16px;
        }
    }

    // .calculator__input
    &__input {
        border-color: $borderBase;
        width: 100%;
    }

    // .calculator__inputs-row
    &__inputs-row {
        display: flex;
        align-items: flex-end;
        gap: 24px;
        row-gap: 12px;
        flex-wrap: wrap;

        @media screen and (max-width: $breakpoint576) {
            gap: 16px;
        }

        & > * {
            flex-grow: 1;
            flex-basis: calc(50% - 24px / 2);
            min-width: min(200px, 100%);

            &:first-child {
                flex-shrink: 0;
            }
        }
    }

    // .calculator__temp
    &__temp {
        display: flex;
        gap: 12px;
        align-items: flex-end;

        & > * {
            flex-grow: 1;
        }
    }

    // .calculator__remove-row
    &__remove-row {
        border: 1px solid $borderBase;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 fit-content;
        padding: 10px;

        svg {
            width: 24px;
            height: 24px;
            display: block;
        }
    }

    // .calculator__form-btn
    &__form-btn {
        max-width: fit-content;
        margin-top: 24px;
    }

    // .calculator__summary
    &__summary {
        display: flex;
        flex-direction: column;
        gap: 4px;
        margin-top: 24px;

        &-item {
            display: flex;
            align-items: flex-end;
            gap: 4px;

            &-name {
                color: $contentPrimary;
                opacity: .4;
                // white-space: nowrap;
            }
    
            &-line {
                display: block;
                flex-grow: 1;
                height: 1px;
                background: rgba(29, 36, 51, 0.65);
                opacity: 0.2;
                margin-bottom: 4px;
            }
    
            &-value {
                color: $contentPrimary;
                text-align: right;
                white-space: nowrap;

            }

            &_without-line {
                .calculator__summary-item-line {
                    display: none;
                }
            }
        }
    }

    hr {
        border: unset;
        background: $borderBase;
        outline: unset;
        height: 1px;

        margin-top: 16px;
        margin-bottom: 16px;
    }

    // .calculator__result
    &__result {
        flex: 0 0 324px;

        padding: 20px;
        background-color: $surfaceTertiary;
        border: 1px solid $borderBase;
        border-radius: 8px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 48px;

        position: sticky;
        top: 16px;

        @media screen and (max-width: $breakpoint768) {
            flex: unset;
            gap: 24px;
            padding: 16px 20px;
        }
    }

    // .calculator__result-title
    &__result-title {
        color: #1A1A1A;
        text-align: center;

        @media screen and (max-width: $breakpoint768) {
            font-size: 18px;
        }
    }

    // .calculator__result-body
    &__result-body {
        text-align: center;
    }

    // .calculator__result-value
    &__result-value {
        color: $textPrimary;

        @media screen and (max-width: $breakpoint576) {
            font-size: 24px;
        }
    }

    // .calculator__result-caption
    &__result-caption {
        color: $contentPrimary;
        opacity: .4;
        margin-top: 8px;
    }

    // .calculator__result-btn
    &__result-btn {
        width: 100%;
    }
}
