.colored-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
}

.colored-card {

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 12px;
    overflow: hidden;
    padding: 28px 32px 0;
    flex: 0 0 calc(33.33% - (24px * 2 / 3));

    @media screen and (max-width: $breakpoint992) {
        flex: 0 0 calc(50% - (24px / 2));
    }

    @media screen and (max-width: $breakpoint768) {
        flex: 0 0 100%;
    }

    // .colored-card_big
    &_big {
        @extend .colored-card;

        flex: 0 0 calc(50% - (24px / 2));

        @media screen and (max-width: $breakpoint768) {
            flex: 0 0 100%;
        }
    }

    // .colored-card__title
    &__title {
        color: $contentPrimary;
        text-align: center;
    }

    // .colored-card__subtitle
    &__subtitle {
        margin-top: 8px;
        color: $grey;
        text-align: center;

        @media screen and (max-width: $breakpoint768) {
            font-size: 14px;
        }
    }

    // .colored-card__btn
    &__btn {
        margin-top: 16px;

        @extend .caption-regular;
    }

    // .colored-card__img
    &__img {

        margin-top: auto;
        height: 240px;
        display: flex;
        justify-content: center;

        @media screen and (max-width: $breakpoint768) {
            height: 230px;
        }

        img {
            display: block;
            height: 100%;
        }
    }
}
