.faq {

    max-width: calc(660px + 2 * $containerMobilePadding);
    padding: 0 $containerMobilePadding;
    margin-left: auto;
    margin-right: auto;

    // .faq__items
    &__items {
        max-width: 660px;
        margin: 0 auto;
    }

    // .faq__item
    &__item {
        cursor: pointer;
        margin-bottom: 8px;
        border-radius: 12px;
        padding: 18px 24px;
        background-color: $surfaceTertiary;
        transition: all 120ms ease-out;

        &:hover {
            background-color: $borderBase;
        }

        @media screen and (max-width: $breakpoint576) {
            padding: 20px;
        }

        &_opened {
            .faq__item-body {
                grid-template-rows: 1fr;
                padding-top: 16px;
            }
            .faq__item-icon {
                transform: rotate(45deg);
            }
        }
    }

    // .faq__item-header
    &__item-header {
        display: flex;
        justify-content: space-between;
        gap: 24px;
    }

    // .faq__item-body
    &__item-body {
        color: $contentPrimary;
        display: grid;
        grid-template-rows: 0fr;
        transition: all 120ms ease-out;
        overflow: hidden;

        &-wrapper {
            overflow: hidden;
        }
    }

    // .faq__item-title
    &__item-title {
        color: $surfaceTertiaryInvert;
    }

    // .faq__item-icon
    &__item-icon {
        width: 24.48px;
        height: fit-content;
        transition: all 120ms ease-out;
    }

    // .faq__btns
    &__btns {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 24px;

        @media screen and (max-width: $breakpoint576) {
            margin-top: 8px;
            flex-direction: column;
            gap: 8px;

            & > * {
                width: 100%;
            }
        }
    }
}

