/* -------- FOOTER -------- */
.footer {

    background-color: #171A1E;
    padding-top: 52px;
    padding-bottom: 48px;

    @media screen and (max-width: $breakpoint576) {
        padding: 24px 0;
    }

    // .footer__container
    &__container {
    }

    // .footer__content
    &__content {
        display: flex;
        justify-content: space-between;
        gap: 24px;


        @media screen and (max-width: $breakpoint1024) {
            flex-direction: column;
        }
    }

    // .footer__nav
    &__nav {
        display: flex;
        justify-content: space-between;
        gap: 24px;
        flex: 0 1 652px;

        @media screen and (max-width: $breakpoint1024) {
            order: 2;
            flex: unset;
        }

        @media screen and (max-width: $breakpoint576) {
            flex-direction: column;
            gap: 24px;
        }
    }

    // .footer__nav-col
    &__nav-col {
        display: flex;
        flex-direction: column;
        gap: 40px;

        @media screen and (max-width: $breakpoint1024) {
            flex: 0 0 calc(33.33% - (24px * 2 / 3))
        }

        @media screen and (max-width: $breakpoint576) {
            flex: unset;
            gap: 24px;
        }
    }

    // .footer__nav-item
    &__nav-item {
    }

    // .footer__nav-title
    &__nav-title {
        color: $surfacePrimary;
        opacity: .6;

        transition: all 60ms ease-out;
        &:hover {
            opacity: 1;
        }
    }

    // .footer__nav-menu
    &__nav-menu {
        margin-top: 12px;
        display: flex;
        flex-direction: column;
        gap: 12px;

        @media screen and (max-width: $breakpoint576) {
            margin-top: 8px;
            gap: 8px;
        }
    }

    // .footer__nav-menu-item
    &__nav-menu-item {
        color: $surfacePrimary;
        opacity: .4;
        transition: all 60ms ease-out;

        &:hover {
            opacity: 1;
        }
    }

    // .footer__nav-menu-link
    &__nav-menu-link {
    }

    // .footer__info
    &__info {
        flex: 0 1 309px;

        @media screen and (max-width: $breakpoint1024) {
            order: 1;
            flex: unset;
            padding-bottom: 24px;
            border-bottom: 1px solid rgba($borderBase, .16);
        }
    }

    // .footer__logo
    &__logo {
        display: flex;
        align-items: center;
    }

    // .footer__logo-img
    &__logo-img {
        margin-right: 8px;
        width: 72px;
    }

    // .footer__logo-text
    &__logo-text {

        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 122%;
        color: $surfacePrimary;
        text-transform: uppercase;

    }

    // .footer__socials
    &__socials {
        display: flex;
        gap: 20px;
        margin-top: 20px;
    }

    // .footer__social-icon
    &__social-icon {
        opacity: .4;
        width: 24px;

        transition: all 60ms ease-out;
        &:hover {
            opacity: 1;
        }
    }

    // .footer__text
    &__text {
        margin-top: 20px;

        display: flex;
        flex-direction: column;
        gap: 20px;

        color: $surfacePrimary;
        opacity: .4;
    }

    // .footer__copy
    &__copy {
        margin-top: 32px;
        border-top: 1px solid rgba($borderBase, .16);
        padding-top: 24px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 24px;
        color: $surfacePrimary;

        @media screen and (max-width: $breakpoint576) {
            flex-direction: column;
            gap: 24px;
            text-align: center;
        }
    }

    // .footer__copy-item
    &__copy-item {
        a {
            text-decoration: underline;
        }
    }
}
