.gallery-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 10;

    // .gallery-popup__close
    &__close {
        position: absolute;
        top: 44px;
        right: 44px;
        cursor: pointer;
    }

    // .gallery-popup__body
    &__body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        @media screen and (max-width: $breakpoint768) {
            flex-wrap: wrap;
            align-content: center;
            column-gap: 48px;
            row-gap: 48px;
        }
    }

    // .gallery-popup__btn
    &__btn {
        cursor: pointer;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.15);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 120ms ease-out;
        
        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }

        &:active {
            background-color: rgba(255, 255, 255, 0.3);
        }

        &_disabled {
            cursor: default;
            pointer-events: none;
            opacity: .4;
        }
    }

    // .gallery-popup__btn-prev
    &__btn-prev {
        @media screen and (max-width: $breakpoint768) {
            order: 2;
        }
    }

    // .gallery-popup__btn-next
    &__btn-next {
        @media screen and (max-width: $breakpoint768) {
            order: 3;
        }
    }

    // .gallery-popup__img
    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        @media screen and (max-width: $breakpoint768) {
            order: 1;
            flex: 0 0 100%;
        }

        &::before {
            content: attr(data-current-counter) ' из ' attr(data-max-counter);
            position: absolute;
            bottom: -16px;
            left: 50%;
            translate: -50% 100%;
            color: $surfaceTertiary;
            opacity: .6;
            font-size: 14px;
        }
        
        img {
            border-radius: 12px;
            overflow: hidden;
            display: block;
            width: 500px;
            max-width: 70%;
            max-height: 80%;
        }
    }

}
