* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

*,
*::after,
*::before {
    transition: .3s all;
}

.container {
    max-width: calc($conteinerWidth + 2 * $containerPadding);
    width: 100%;
    margin: 0 auto;
    padding: 0 $containerPadding;
}

.container.container_wide {
    max-width: calc(1344px + 2 * $containerPadding);
}

html,
body {
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

.lock {
    overflow: hidden;
}

// Animation
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


// Buttions

.btn {
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    &_red {
        background-color: $redDefault;
        color: $surfacePrimary;

        @media (hover: hover) {
            &:hover {
                background-color: darken($redDefault, 5);
            }
        }
    }

    &_small {
        padding: 8px 16px;
    }
}