.hero {

    padding-top: 24px;
    padding-bottom: 24px;

    @media screen and (max-width: $breakpoint1366) {
        padding-top: 0;
        padding-bottom: 0;
        overflow: hidden;
        position: relative;

        background: var(--bg);
            .hero__bg{
                background: none;
            }
    }

    &__bg {
        border-radius: 16px;
        background: var(--bg);
        overflow: hidden;
        position: relative;
        
        @media screen and (max-width: $breakpoint1366) {
            overflow: visible;
            position: static;
            padding-top: 48px;
        }
    }

    // .hero__container
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 460px;
        // position: relative;

        &.container {
            padding: 0;
        }

        @media screen and (max-width: $breakpoint1366) {
            height: 416px;
            gap: 24px;
        }

        @media screen and (max-width: $breakpoint992) {
            flex-direction: column;
            background: none;
            height: unset;
            gap: unset;
        }
    }

    // .hero__content
    &__content {
        height: 100%;
        padding: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 660px;
        position: relative;
        z-index: 2;

        .hero__btn {
            margin-top: 32px;

            @media screen and (max-width: $breakpoint768) {
                margin-top: 28px;
            }
        }

        @media screen and (max-width: $breakpoint1366) {
            max-width: 500px;
            translate: 0 -24px;
        }

        @media screen and (max-width: $breakpoint992) {
            max-width: 100%;
        }

        @media screen and (max-width: $breakpoint768) {
            padding: 0;
            translate: unset;
        }
    }

    // .hero__title
    &__title {
        color: $textPrimary;
        margin-bottom: 16px;
    }

    // .hero__subtitle
    &__subtitle {
        color: $contentPrimary;
    }

    // .hero__numbers
    &__numbers {
        margin-top: 16px;
        display: flex;
        gap: 24px;

        @media screen and (max-width: $breakpoint1230) {
            gap: 20px;
        }

        @media screen and (max-width: $breakpoint768) {
            flex-direction: column;
            gap: 12px;
        }
    }

    // .hero__number
    &__number {
        color: $contentPrimary;
        flex: 0 0 172px;

        @media screen and (max-width: $breakpoint1230) {
            flex: 0 0 max-content;
        }
    }

    // .hero__number-title
    &__number-title {
    }

    // .hero__number-subtitle
    &__number-subtitle {
        opacity: .6;
        margin-top: 4px;
    }

    // .hero__list
    &__list {
        margin-top: 8px;
        list-style-type: disc;
        list-style-position: inside;
        color: $contentPrimary;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: $breakpoint768) {
            gap: 8px;
            margin-top: 0;
        }

        li {
            text-indent: -22px;
            padding-left: 22px;
        }

    }

    // .hero__socials
    &__socials {
        margin-top: auto;
        padding-top: 20px;

        &-title {
            color: rgba($color: $contentPrimary, $alpha: .8)
        }

        &-items {
            display: flex;
            align-items: center;
            gap: 8px;
            margin-top: 12px;
        }
    }

    // .hero__social
    &__social {
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        overflow: hidden;
        background-color: $grey;
    }

    // .hero__btns
    &__btns {
        display: flex;
        gap: 12px;

        @media screen and (max-width: $breakpoint1366) {
            flex-direction: column-reverse;

            .hero__btn {
                max-width: 100%;
            }

            .hero__btn:first-child {
                margin-top: 0;
            }
        }
    }

    // .hero__btn
    &__btn {
        max-width: max-content;
        @media screen and (max-width: $breakpoint1366) {
            margin-top: 28px;
        }

        @media screen and (max-width: $breakpoint576) {
            max-width: 100%;
        }
    }

    // .hero__img
    &__img {
        height: 100%;
        position: relative;

        @media screen and (max-width: $breakpoint1366) and (min-width: $breakpoint992) {
            max-width: 684px;
            align-self: flex-end;
            height: fit-content;

            & > img {
                height: unset;
                width: 100%;
            }
        }

        @media screen and (max-width: $breakpoint992) {
            height: 100%;
            top: unset;
            bottom: 0;
        }

        // .hero__img-effect
        &-effect {
            mix-blend-mode: overlay;
            position: absolute;
            left: -14%;
            top: -19%;
            width: 134.5%;
            aspect-ratio: 1;
            & > img {
                display: block;
                width: 100%;
            }

            &_darken {
                mix-blend-mode: darken;
            }
        }

        & > img {
            display: block;
            position: relative;
            z-index: 1;
            height: 100%;

            @media screen and (max-width: $breakpoint992) {
                max-width: 555px;
                width: 100%;
            }

            @media screen and (max-width: $breakpoint576) {
                width: 405px;
            }
        }

        &_centered {
            @extend .hero__img;

            .hero__img-effect {
                width: 188%;
                left: -2%;
                top: 50%;
                translate: 0 -50%;
                aspect-ratio: unset;

                & > img {
                    aspect-ratio: unset;
                }
            }

            @media screen and (max-width: $breakpoint1366) and (min-width: $breakpoint992) {
                align-self: unset;
            }

            @media screen and (max-width: $breakpoint992) {
                width: 100%;
                display: flex;
                justify-content: center;

                .hero__img-effect {
                    width: 1280px;
                    top: -120px;
                    left: 50%;
                    translate: -50% 0;
                }
            }

        }
    }

}

.hero_slider {

    @media screen and (max-width: $breakpoint1366) {
        padding-bottom: 28px;
    }

    .hero__container {
        height: 480px;

        @media screen and (max-width: $breakpoint1366) {
            height: 416px;
            gap: 24px;
        }

        @media screen and (max-width: $breakpoint992) {
            flex-direction: column;
            background: none;
            height: unset;
            gap: unset;
        }
    }

    // .hero_slider__slider
    &__slider {
        flex: 0 1 450px;
        max-width: 450px;
        padding: 32px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        position: relative;
        z-index: 2;
        transition: all 180ms ease-out;

        @media screen and (max-width: $breakpoint1366) {
            flex: 0 1 512px;
            max-width: 512px;
            justify-content: center;
            padding: 20px 0;
        }

        @media screen and (max-width: $breakpoint992) {
            flex: unset;
            padding: 0;
            max-width: 600px;
        }

        @media screen and (max-width: $breakpoint768) {
            max-width: 100%;
        }

    }

    // .hero_slider__nav
    &__nav {
        display: flex;
        @media screen and (max-width: $breakpoint1366) {
            display: none;
        }

        &-btn {
            transition: all 60ms ease-out;
            cursor: pointer;
            height: 36px;
            width: 36px;
            border: 1px solid rgba(0, 0, 0, 0.15);

            display: flex;
            align-items: center;
            justify-content: center;

            &_prev {
                border-right: unset;
                border-radius: 8px 0 0 8px;
            }

            &_next {
                border-radius: 0 8px 8px 0;
            }

            svg {
                width: 24px;
            }

            @media (hover: hover) {
                &:hover {
                    background-color: rgba(0, 0, 0, 0.15);
                    border-color: transparent;
                }
            }
            &:active {
                background-color: rgba(0, 0, 0, 0.25);
                border-color: transparent;
            }
        }

    }

    // .hero_slider__pagination
    &__pagination {
        @media screen and (min-width: $breakpoint1366) {
            display: none;
        }
        display: flex;
        align-items: center;
        gap: 8px;
        margin-top: 24px;

        @media screen and (max-width: $breakpoint992) {
            justify-content: center;
        }

        .swiper-pagination-bullet {
            display: flex;
            width: 4px;
            height: 4px;
            border-radius: 2px;
            background-color: rgba(0, 0, 0, 0.2);
          }
          
        .swiper-pagination-bullet.swiper-pagination-bullet-active {
            width: 24px;
            position: relative;
            border-radius: 2px;
            transition: .5s ease width;
        
            &::after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                border-radius: 2px;
                height: 100%;
                width: 0%;
                background: #000;
                animation: pagination-bullet 17s;
                animation-iteration-count: 1;
                animation-fill-mode: both;
            }
        }
    }

    // .hero_slider__img
    &__img {
        height: 100%;
        position: absolute;
        overflow: hidden;
        left: 0;
        right: 0;
        z-index: 1;

        @media screen and (max-width: $breakpoint1366) {
            bottom: -24px;
            height: calc(100% + 24px + 24px);
            left: -$containerPadding;
            right: -$containerPadding;
        }

        @media screen and (max-width: $breakpoint992) {
            position: static;
            height: clamp(303px, 80vw, 500px);
            margin-top: 16px;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
            object-position: center;
            display: block;
            transition: all 180ms ease-out;
            
            @media screen and (max-width: $breakpoint1366) {
                object-position: 35vw;
            }

            @media screen and (max-width: $breakpoint992) {
                width: unset;
                object-position: center;
            }
        }
    }
    
    // .hero_slider__right
    &__right {
        flex: 0 1 450px;
        position: relative;
        z-index: 2;
        padding: 32px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        &:hover,
        &.hovered {
            .hero_slider__expert-subtitle {
                color: #000;
            }
            .hero_slider__expert-arrow {
                translate: 4px 0;
                svg {
                    path {
                        stroke: #000;
                    }
                    g {
                        opacity: 1;
                    }
                }
            }
        }

        hr {
            background-color: rgba(0, 0, 0, 0.15);
            height: 1px;
            border: none;
        }

        @media screen and (max-width: $breakpoint1366) {
            align-self: flex-end;
            flex: unset;
            border-radius: 16px;
            background-color: $surfacePrimary;
            padding: 16px 20px;
            gap: 16px;

            background: rgba(255, 255, 255, 0.8);
            backdrop-filter: blur(27.5274px);
            -webkit-backdrop-filter: blur(27.5274px);
            border-radius: 16px;

        }

        @media screen and (max-width: $breakpoint992) {
            align-self: center;
        }

    }

    // .hero_slider__subtitle
    &__subtitle {
        margin-bottom: var(--margin);
        transition: all 60ms ease-out;
        @media screen and (max-width: $breakpoint1366) {
            margin-bottom: 0;
        }
    }

    // .hero_slider__quote
    &__quote {
        color: $textPrimary;
    }

    // .hero_slider__expert
    &__expert {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 24px;

        @media screen and (max-width: $breakpoint768) {
            gap: 16px;
        }
    }

    // .hero_slider__expert-title
    &__expert-title {
        color: $textPrimary;

        @media screen and (max-width: $breakpoint768) {
            font-size: 16px;
        }
    }

    // .hero_slider__expert-subtitle
    &__expert-subtitle {
        color: $contentDisabled;
        margin-top: 4px;

        @media screen and (max-width: $breakpoint768) {
            font-size: 14px;
        }
    }

    // .hero_slider__expert-arrow
    &__expert-arrow {
        svg, svg * {
            transition: all 180ms ease-out;

        }
        @media screen and (max-width: $breakpoint768) {
            svg {
                width: 24px;
            }
        }
    }
}

@keyframes sliderFade {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
@keyframes sliderFadeReverse {
    0% {
        opacity: 1;
    }
    10% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.hero-swiper {
    max-width: 100%;
    overflow: hidden;
    position: relative;
    

    @media screen and (min-width: $breakpoint992) {
        padding-left: 20px !important;
        margin-left: -20px !important;
    
        &::before {
            content: '';
            position: absolute;
            z-index: 2;
            background: linear-gradient(180deg, #D8E2EE 0%, #CEDBEA 100%);
            filter: blur(2px);
            -webkit-filter: blur(2px);
            top: -6px;
            bottom: -6px;
            width: 20px;
            left: -2px;
        }
    }

    @media screen and (max-width: $breakpoint768) {
        overflow: visible;
    }

    &__slide {

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        @media screen and (max-width: $breakpoint992) {

            .hero_slider__btn {
                width: 100%;
                max-width: 100%;
            }
        }

        &.swiper-slide-active {
            animation: sliderFade 2s ease;
        }

        &.swiper-slide-prev,
        &.swiper-slide-next {
            animation-iteration-count: 1;
            animation-fill-mode: both;
        }

        &.swiper-slide-prev {
            animation: sliderFadeReverse 1s ease;
        }
        &.swiper-slide-next {
            animation: sliderFadeReverse 2s ease;
        }
    }
}
  