@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .3;
    }
    100% {
        opacity: 1;
    }
}

.loader {

    position: fixed;
    inset: 0;
    z-index: 9;
    background: rgba($color: #FFF, $alpha: .9);

    display: flex;
    align-items: center;
    justify-content: center;

    // .loader__img
    &__img {
        width: clamp(100px, 14vw, 140px);
        svg {
            width: 100%;
            height: auto;
            & > *:not(:first-child) {
                animation: blink 1s linear 0s infinite;
            }
        }
    }
}
