.media-about-section {
    padding-top: 48px;
    padding-bottom: 68px;
    background-color: $surfaceSecondary;
    border-top: 1px solid $borderBase;
    border-bottom: 1px solid $borderBase;

    @media screen and (min-width: $breakpoint992) {
        .section__content.container {
            padding: 0;
        }
    }
}

.article-slider {

    position: relative;

    @media screen and (max-width: $breakpoint1366) {
        padding: 0 80px;
    }
    @media screen and (max-width: $breakpoint992) {
        padding: 0;
    }

    // .article-slider__btn
    &__btn {

        position: absolute;
        z-index: 2;
        top: 54px;

        width: 56px;
        height: 56px;
        border-radius: 50%;
        border: 1px solid $borderBase;
        background-color: $surfaceSecondary;

        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;
        transition: all 60ms ease-out;

        &:hover {
            background-color: $borderBase;
        }
        &:active {
            background-color: #D7DCE5;
        }

        & > * {
            width: 24px;
        }

        // .article-slider__btn_prev
        &_prev {
            left: 7px;
            translate: -100% 0;
            @media screen and (max-width: $breakpoint1366) {
                left: 88px;
            }
        }

        // .article-slider__btn_next
        &_next {
            right: 7px;
            translate: 100% 0;

            @media screen and (max-width: $breakpoint1366) {
                right: 88px;
            }
        }

        &.swiper-button-disabled,
        &.swiper-button-lock {
            display: none;
        }

        @media screen and (max-width: $breakpoint992) {
            display: none;
        }
    }

    &__container {
    
        @media screen and (min-width: $breakpoint992) {
            padding: 0 48px !important;

            &::after {
                content: '';
                position: absolute;
                z-index: 2;
                top: 0;
                bottom: 0;
                left: -1px;
                width: 49px;
                transition: none;
                background: linear-gradient(270deg, #F8F9FC 50%, rgba(248, 249, 252, 0) 100%);
                transform: rotate(-180deg);
    
    
            }
    
            &::before {
                content: '';
                position: absolute;
                z-index: 2;
                top: 0;
                bottom: 0;
                right: -1px;
                width: 49px;
                background: linear-gradient(270deg, #F8F9FC 50%, rgba(248, 249, 252, 0) 100%);
            }

            &_white {
                &::after {
                    background: linear-gradient(270deg, #FFF 50%, rgba(255, 255, 255, 0) 100%);
                }
        
                &::before {
                    background: linear-gradient(270deg, #FFF 50%, rgba(255, 255, 255, 0) 100%);
                }
            }
            
        }

        @media screen and (max-width: $breakpoint992) {
            &.swiper {
                overflow: visible;
            }
        }
    }
}

.article-slide {

    // .article-slide__img
    &__img {
        border: 1px solid $borderBase;
        border-radius: 16px;
        overflow: hidden;
        aspect-ratio: 261 / 170;

        @media screen and (max-width: $breakpoint992) {
            aspect-ratio: 271 / 170;
        }

        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            object-position: center;
        }
    }

    // .article-slide__author
    &__author {
        margin-top: 12px;

        display: flex;
        align-items: center;

    }

    // .article-slide__name
    &__name {
        margin-right: 8px;
        color: $surfaceTertiaryInvert;
    }

    // .article-slide__type
    &__type {
        color: #8A8A8A;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    // .article-slide__title
    &__title {
        margin-top: 8px;
        color: $contentPrimary;
    }
}
