.mission-banner {

    &-section {
        @media screen and (max-width: $breakpoint768) {
            max-width: 100%;
            padding-left: 0;
            padding-right: 0;
        }
    }

    padding: 28px 32px;
    background-color: $surfaceTertiary;
    border-radius: 12px;
    overflow: hidden;
    position: relative;

    @media screen and (max-width: $breakpoint768) {
        border-radius: 0;
        padding: 32px 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // .mission-banner__hr
    &__hr {
        max-width: 660px;
        width: 100%;
        height: 1px;
        background-color: $borderBase;

        margin: 24px auto 0;
    }

    // .mission-banner__text
    &__text {
        margin: 24px auto 0;
        text-align: center;
        color: #0a0d14;
        max-width: 660px;

        @media screen and (max-width: $breakpoint768) {
            text-align: left;
        }
    }

    // .mission-banner__img
    &__img {

        position: absolute;
        width: 498px;
        opacity: .05;

        @media screen and (max-width: $breakpoint768) {
            display: none;
        }

        img {
            width: 100%;
        }

        // .mission-banner__img_left
        &_left {
            left: 0;
            top: -300px;
            translate: -50%;
        }

        // .mission-banner__img_right

        &_right {
            bottom: -300px;
            right: 0;
            translate: 50%;
        }
    }
}
