/* -------- MISSION STRATEGY -------- */
.mission-strategy {

    & > *:not(:first-child) {
        margin-top: 40px;


        @media screen and (max-width: $breakpoint768) {
            margin-top: 24px;
        }
    }

    color: #0a0d14;

    // .mission-strategy__text
    &__text {
        max-width: 888px;
    }

    // .mission-strategy__scenarios
    &__scenarios {
        display: flex;
        gap: 16px;
        justify-content: space-between;

        @media screen and (max-width: $breakpoint768) {
            flex-wrap: wrap;
            gap: 8px;
        }
    }

    // .mission-strategy__scenarios-item
    &__scenarios-item {
        flex: 0 0 calc(50% - 8px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;

        border-radius: 12px;
        padding: 20px;

        @media screen and (max-width: $breakpoint768) {
            flex: 0 0 100%;
        }
    }

    // .mission-strategy__scenarios-item-col
    &__scenarios-item-col {
    }

    // .mission-strategy__scenarios-title
    &__scenarios-title {
    }

    // .mission-strategy__scenarios-text

    &__scenarios-text {
    }

    // .mission-strategy__scenarios-icon

    &__scenarios-icon {
        width: 50px;
        img {
            width: 100%;
            display: block;
        }
    }
}
