.mortgage {
    margin-top: 28px;
    display: flex;
    align-items: flex-start;
    gap: 36px;

    @media screen and (max-width: $breakpoint1200) {
        flex-wrap: wrap;
    }

    @media screen and (max-width: $breakpoint992) {
        padding: 0;
    }

    @media screen and (max-width: $breakpoint768) {
        gap: 20px;
    }

    // .mortgage__title
    &__title {
        color: $contentPrimary;

        @media screen and (max-width: $breakpoint768) {
            font-size: 26px;
        }
    }
}

.mortgage-img {

    max-width: 28vw;
    width: 100%;

    @media screen and (max-width: $breakpoint1200) {
        max-width: 400px;
    }

    @media screen and (max-width: $breakpoint992) {
        padding: 0 $containerMobilePadding;
    }

    @media screen and (max-width: $breakpoint576) {
        max-width: 100%;
    }

    // .mortgage-img__img
    &__img {
        border-radius: 16px;
        width: 100%;
        aspect-ratio: 400 / 252;
        overflow: hidden;
        position: relative;
        cursor: pointer;

        &:hover {
            .mortgage-img__blackout {
                opacity: 1;
            }
        }

        @media screen and (max-width: $breakpoint576) {
            height: 252px;
            aspect-ratio: unset;
        }

        & > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__blackout {
        transition: all 60ms ease-out;
        opacity: 0;
        position: absolute;
        top: 0; bottom: 0;
        left: 0; right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.40);
        pointer-events: none;
    }

    // .mortgage-img__map
    &__map {
        width: 100%;
        aspect-ratio: 400 / 160;
        margin-top: 16px;
        background-color: $surfaceTertiary;
        border-radius: 16px;

        @media screen and (max-width: $breakpoint576) {
            height: 160px;
            aspect-ratio: unset;
        }
    }
}


.mortgage-info {

    flex-grow: 1;

    @media screen and (max-width: $breakpoint992) {
        flex: 0 0 100%;
        padding: 0 $containerMobilePadding;
    }

    // .mortgage-info__contact
    &__contact {
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        color: $contentDisabled;

        span {
            font-weight: 500;
            color: $contentPrimary;
        }
    }

    // .mortgage-info__specifications
    &__specifications {
        margin-top: 24px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    // .mortgage-info__specification
    &__specification {
        display: flex;
        gap: 4px;
    }

    // .mortgage-info__specification-title
    &__specification-title {
        color: $contentDisabled;
    }

    // .mortgage-info__specification-line
    &__specification-line {
        flex: 1 0 10px;
        border-bottom: 1px solid $contentDisabled;
        opacity: .2;
        margin-bottom: 4px;
    }

    // .mortgage-info__specification-value
    &__specification-value {
        flex: 0 1 50%;
        color: $contentPrimary;

        @media screen and (max-width: $breakpoint576) {
            flex: unset;
        }
    }
}

.mortgage-card {
    flex: 0 0 344px;
    padding: 20px 24px;
    background-color: $surfaceTertiary;
    border-radius: 12px;


    @media screen and (max-width: $breakpoint1200) {
        flex: 0 0 100%;
    }

    @media screen and (max-width: $breakpoint992) {
        border-radius: 0;
        padding: 20px $containerMobilePadding 24px;
        border-bottom: 1px solid $borderBase;
        border-top: 1px solid $borderBase;
    }

    // .mortgage-card__price-caption
    &__price-caption {
        color: $contentDisabled;
        margin-bottom: 2px;
    }

    // .mortgage-card__price
    &__price {
        color: $contentPrimary;

        @media screen and (max-width: $breakpoint768) {
            font-size: 26px;
        }
    }

    // .mortgage-card__specifications
    &__specifications {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    // .mortgage-card__specification
    &__specification {
        display: flex;
        gap: 4px;
    }

    // .mortgage-card__specification-title
    &__specification-title {
        color: $contentDisabled;
    }

    // .mortgage-card__specification-line
    &__specification-line {
        @extend .mortgage-info__specification-line;
    }

    // .mortgage-card__specification-value

    &__specification-value {
        color: $contentPrimary;
    }

    // .mortgage-card__btns
    &__btns {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}
