/* -------- NUM CARDS -------- */
.num-cards {
    @extend .icon-cards;

    row-gap: 32px;
    padding-top: 26px;

    @media screen and (max-width: $breakpoint768) {
        padding-top: 12px;
    }


    &_big {
        @extend .num-cards;
    }
}

.num-card {

    @extend .icon-card;

    text-align: center;
    padding: 48px 24px 24px;
    position: relative;

    @media screen and (max-width: $breakpoint576) {
        padding: 40px 20px 20px;
    }

    &_big {
        @extend .num-card;
        flex: 0 0 calc(33% - (24px * 2 / 3));

        @media screen and (max-width: $breakpoint768) {
            flex: 0 0 100%;
        }
    }

    &_lg {
        @extend .num-card;
        flex: 0 0 calc(50% - (24px / 2));

        @media screen and (max-width: $breakpoint768) {
            flex: 0 0 100%;
        }
    }

    // .num-card__number
    &__number {
        @extend .h4;

        width: 52px;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: $contentPrimary;
        color: $surfacePrimary;

        position: absolute;
        left: 50%;
        top: 0;
        translate: -50% -50%;
    }

    // .num-card__title
    &__title {
        @extend .icon-card__title;
        margin-top: 0;
    }

    // .num-card__text
    &__text {
        @extend .icon-card__text;

        &_left {
            text-align: left;
        }
    }
}
