.section {

    &.section-mb-0 {
        margin-bottom: 0;
        @media screen and (max-width: $breakpoint768) {
            margin-bottom: 0;
        }
    }

    margin-top: 100px;
    margin-bottom: 100px;

    @media screen and (max-width: $breakpoint768) {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    // .section__title
    &__title {
        color: $contentPrimary;
        text-align: center;

        @extend .h2;

        &_mb-left {
            @media screen and (max-width: $breakpoint768) {
                text-align: left;
            }
        }
    }

    // .section__subtitle
    &__subtitle {
        color: $grey;
        text-align: center;
        margin-top: 8px;

        @extend .body-regular;

        @media screen and (max-width: $breakpoint768) {
            font-size: 14px;
        }

        @media screen and (max-width: $breakpoint768) {
            text-align: left;
        }

    }

    // .section__content
    &__content {
        margin-top: 48px;

        @media screen and (max-width: $breakpoint768) {
            margin-top: 32px;
        }
    }

    // .section__btns
    &__btns {
        display: flex;
        justify-content: center;
        gap: 12px;

        @media screen and (max-width: $breakpoint768) {
            flex-direction: column-reverse;
            gap: 0;
            margin-top: 16px;
        }

        @media screen and (max-width: $breakpoint576) {
            margin-top: 0;
        }

        & > .section__btn {
            margin-left: 0;
            margin-right: 0;

            @media screen and (max-width: $breakpoint768) {
                margin-top: 8px;
            }
        }
    }

    // .section__btn
    &__btn {
        margin-top: 24px;
        margin-left: auto;
        margin-right: auto;
        max-width: max-content;

        @media screen and (max-width: $breakpoint768) {
            max-width: 100%;
        }

        @media screen and (max-width: $breakpoint576) {
            margin-top: 8px;
        }
    }
    
}
