.section {

    margin-top: 100px;

    @media screen and (max-width: $breakpoint768) {
        margin-top: 60px;
    }

    // .section__title
    &__title {
        color: $contentPrimary;
        text-align: center;

        @extend .h2;

    }

    // .section__subtitle
    &__subtitle {
        color: $grey;
        text-align: center;
        margin-top: 8px;

        @extend .body-regular;

        @media screen and (max-width: $breakpoint768) {
            font-size: 14px;
        }

    }

    // .section__content
    &__content {
        margin-top: 48px;

        @media screen and (max-width: $breakpoint768) {
            margin-top: 32px;
        }
    }

    // .section__btn
    &__btn {
        margin-top: 24px;
        margin-left: auto;
        margin-right: auto;

        @media screen and (max-width: $breakpoint576) {
            margin-top: 8px;
        }
    }
    
}
