.section {

    padding-top: 100px;

    @media screen and (max-width: $breakpoint768) {
        padding-top: 60px;
    }

    // .section__title
    &__title {
        color: $contentPrimary;
        text-align: center;
        margin-bottom: 48px;

        @media screen and (max-width: $breakpoint768) {
            margin-bottom: 32px;
        }
    }

    // .section__content
    &__content {
    }
    
}
