.select {


    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px 16px;

    border: 1px solid rgba(29, 36, 51, 0.2);
    border-radius: 8px;
    position: relative;

    transition: all 120ms ease-out;
    @media (hover: hover) {
        &:hover {
            background-color: rgba(0, 0, 0, .1);
        }
    }
    &:active,
    &_active {
        background-color: rgba(0, 0, 0, .2);
        border-color: transparent;
    }

    &_big {
        padding: 14px 20px 14px 24px;
    }


    span {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        @extend .body-regular;
    }

    // .select__droplist
    &__droplist {
        position: absolute;
        z-index: 2;
        width: max-content;
        max-width: calc(100vw - 2 * $containerMobilePadding);
        left: 0;
        top: calc(100% + 4px);

        background-color: $surfacePrimary;
        box-shadow: 0px 100px 80px rgba(48, 48, 48, 0.07), 0px 23px 31px rgba(48, 48, 48, 0.05), 0px 8px 12px rgba(48, 48, 48, 0.04), 0px 3px 3px rgba(48, 48, 48, 0.03);
        border-radius: 8px;
        padding: 4px;
        color: $contentPrimary;

        display: none;
        flex-direction: column;
        transition: all 120ms ease-out;

        &_active {
            display: flex;
        }

        &_absolute {
            @extend .select__droplist;
        }

        &_right {
            @extend .select__droplist;
            left: unset;
            right: 0;
        }
    }

    // .select__item
    &__item {
        border-radius: 4px;
        transition: all 120ms ease-out;

        a {
            padding: 10px 12px;
            display: block;
        }

        &:hover {
            background-color: $surfaceTertiary;
        }
    }
}
