.tree-section {
    background-color: $surfaceTertiary;
    padding-top: 40px;
    padding-bottom: 40px;
}

.tree {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 64px;
    column-gap: 24px;

    @media screen and (max-width: $breakpoint768) {
        display: flex;
        flex-direction: column;

        padding-top: 48px;
    }

    &__cell {
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 1;

        &_width_full {
            grid-column-start: 1;
            grid-column-end: 5;
            margin-bottom: 44px;
            @media screen and (max-width: $breakpoint768) {
                grid-column-start: unset;
                grid-column-end: unset;
                margin: 0;
            }
        }

        &_height_2 {
            grid-row: span 2;
            @media screen and (max-width: $breakpoint768) {
                grid-row: unset;
            }
        }

        @media screen and (max-width: $breakpoint768) {
            &:not(.tree__cell_width_full) {
                padding-left: 40px;
            }
            &:empty {
                display: none;
            }
        }
    
    }

    &__card {
        max-width: 260px;
        width: 100%;
        
        background-color: $surfacePrimary;
        padding: 48px 16px 16px;
        border-radius: 12px;

        filter: drop-shadow(0px 1.6px 3.6px rgba(0, 0, 0, 0.133)) drop-shadow(0px 0.3px 0.9px rgba(0, 0, 0, 0.11));

        text-align: center;
        position: relative;

        &_simple {
            background-color: #7D8593;
            padding: 12px;
            box-shadow: 0px 1.6px 3.6px rgba(0, 0, 0, 0.133), 0px 0.3px 0.9px rgba(0, 0, 0, 0.11);
        }

        @media screen and (max-width: $breakpoint768) {
            max-width: 100%;
        }

    }

    &__simple-cards {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @media screen and (max-width: $breakpoint768) {
            gap: 12px;
            width: 100%;
        }
    }

    &__line {
        position: absolute;
        overflow: hidden;
        border-radius: 12px;
        left: 0; right: 0;
        bottom: 0; top: 0;
        pointer-events: none;
        z-index: 0;

        &_green {
            &::before {
                content: '';
                position: absolute;
                left: 0px;
                right: 0px;
                top: 0;
                height: 6px;
                background-color: #0DAE4E;
            }
        }
    }

    &__img {
        overflow: hidden;
        border-radius: 50%;
        height: 84px;
        width: 84px;
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 0;
        translate: -50% -50%;
        border: 6px solid $surfacePrimary;
        box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.11), 0 2px 4px 0 rgba(0, 0, 0, 0.13);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__title {
        color: $contentPrimary;
    }

    &__subtitle {
        color: $contentPrimary;
        opacity: .5;
        margin-top: 4px;
    }

    &__text {
        color: $surfacePrimary;
    }

    &__btn {
        margin-top: 16px;
    }


}