// Container
$conteinerWidth: 1116 + px;
$containerPadding: 24 + px;

// Breakpoints
$breakpoint1400: 1399.98 + px;
$breakpoint1366: 1365.98 + px;
$breakpoint1230: 1229.98 + px;
$breakpoint1200: 1199.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint576: 575.98 + px;
$breakpoint480: 479.98 + px;

// Colors
$contentPrimary: #1D2433;
$contentDisabled: rgba(29, 36, 51, 0.65);
$textPrimary: rgba(0, 0, 0, 0.85);
$surfacePrimary: #FFF;
$surfaceSecondary: #F8F9FC;
$surfaceTertiary: #F1F3F9;
$surfaceTertiaryInvert: #0A0D14;
$redDefault: #E02D3C;
$borderBase: #E1E6EF;
$grey: #212121;

// Burger
$burgerBreakpoint: $breakpoint992;