// Container
$conteinerWidth: 1116 + px;
$containerPadding: 24 + px;

// Breakpoints
$breakpoint1400: 1399.98 + px;
$breakpoint1200: 1199.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint576: 575.98 + px;
$breakpoint480: 479.98 + px;

// Colors
$contentPrimary: #1D2433;
$surfacePrimary: #FFF;
$redDefault: #E02D3C;
$borderBase: #E1E6EF;
$grey: #212121;

// Burger
$burgerBreakpoint: $breakpoint992;